In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.style.use('ggplot')

In [2]:
fin = pd.read_csv('C:\\Users\\agt54\\Desktop\\car\\fin.csv')

In [3]:
fin.head()

    H   P   K   A  notch A
0  50  20  20  10        1
1  50  30  20  20        2
2  50  40  20  30        3
3  50  50  20  40        4
4  50  60  20  50        5

In [4]:
fin.shape

(9, 5)

In [5]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   H        9 non-null      int64
 1   P        9 non-null      int64
 2   K        9 non-null      int64
 3   A        9 non-null      int64
 4   notch A  9 non-null      int64
dtypes: int64(5)
memory usage: 488.0 bytes

In [6]:
backup=fin.copy()

In [7]:
x=fin.drop(columns='notch A')
y=fin['notch A']

In [8]:
x

    H    P   K   A
0  50   20  20  10
1  50   30  20  20
2  50   40  20  30
3  50   50  20  40
4  50   60  20  50
5  50   70  20  60
6  50   80  20  70
7  50   90  20  80
8  50  100  20  90

In [9]:
y

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
Name: notch A, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2)

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer

In [19]:
imputer= SimpleImputer()
lr=LinearRegression()

In [20]:
pipe=make_pipeline(imputer,lr)

In [21]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('simpleimputer', SimpleImputer()),
                ('linearregression', LinearRegression())])

In [22]:
y_pred=pipe.predict(x_test)

In [23]:
y_pred

array([2., 8.])

In [24]:
r2_score(y_test,y_pred)

1.0

In [25]:
scores=[]
for i in range(10):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(imputer,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [26]:
np.argmax(scores)

0

In [27]:
scores[np.argmax(scores)]

1.0

In [28]:
import pickle

In [29]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [33]:
pipe.predict(pd.DataFrame([['50','60','20','50']],columns=['H','P','K','A']))

array([5.])